# Claude Code local settings
.claude/settings.local.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment files (backend punya .gitignore sendiri)
.env
.env.local

# Local Netlify folder
.netlify

# Dependencies
node_modules/
package-lock.json

# Deno (backend dev only)
deno.lock
